<!-- <ion-header>
  <ion-toolbar>
    <ion-title>eMovies</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-card>

    <ion-card-content>
      <div id="head">
      <ion-card id="card">
        <ion-input class="emovies">eMovies</ion-input>
      </ion-card>
    </div>

      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, quasi ad distinctio nam officiis quae soluta dolorum nostrum atque. Deleniti enim quis eum provident perspiciatis. Pariatur incidunt natus temporibus inventore.</p>

      <br>

      <div id="container">
      <ion-item>
        <ion-button color="medium" routerLink="/login">Login</ion-button>
      </ion-item>

      <br>

      <ion-item>
        <ion-button color="medium" routerLink="/signup">SignUp</ion-button>
      </ion-item>
    </div>
    </ion-card-content>

  </ion-card>

</ion-content>
