#card{
  width: 450px;
  height: 250px;
  align-items: center;
  margin: auto;
  font-size: 50px;
  background-color: lightyellow;
}

.emovies{
margin-left: 130px;
margin-top: 80px;
}
#head{
  text-align: center;
}

.login{
margin: auto;
}

.log{
margin: auto;}
ion-button{
  margin: auto;
}

.uname{
  border: 1px solid rgb(37, 37, 100);
  border-radius: 30px;
}
.password{
  border: 1px solid rgb(37, 37, 100);
  border-radius: 30px;
}

.signup{
  float: right;
}


#container{
  text-align: center;
}
