.container{
    width: 300px;
    height: 400px;
    flex-direction:column;
    // padding-bottom: 90px;
    
}
.details{
    justify-content:center;
    align-items: center;
    // padding-top: 1px;

}
.comment{
    width: 50;
}