<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-img src="assets/images/movies.jpg"></ion-img>
  </div>

  <div class="details">
    <h1>emma. (2020)</h1>
    <p>Director:lorem</p>
    <p>Starring:lorem,lorem</p>
    <ion-button fill="outline " slot="start">3D</ion-button>
    <ion-button fill="outline " color="warning" slot="start">IMAX</ion-button>
  </div>

  <h1>Description</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi inventore,
    consectetur ipsa voluptate accusamus asperiores minima sapiente cumque itaque?</p>
  <div class="comment">
    <ion-button fill="outline " color="warning" slot="start">ADD COMMEND</ion-button>
    <!-- <ion-icon name="chatbubble-ellipses-outline"></ion-icon> -->
  </div>


</ion-content>
